body {
    padding: 5px;
    margin: 0;
    margin-bottom: 60px;
    background-color: var(--main-bg-color);
    font-family: 'Rajdhani', sans-serif;
    color: var(--text-color);
    font-size: 105%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--content-bg-color);
    padding: 12px;
    border-radius: 5px;
}

.content {
    min-height: 400px;
}

hr {
    height: 1px;
    border: none;
    border-top: 1px solid var(--text-color);
}

div.bookings,
div.polls {
    width: 100%;
    border: 1px solid var(--color-black);
    display: inline-block;
}

div.booking,
div.poll {
    width: 100%;
    padding: 4px;
    border-bottom: 1px solid var(--color-black);
}

.booking:last-of-type,
div.poll:last-of-type {
    border-bottom: none;
}

.booking:nth-child(even),
div.poll:nth-child(even),
table tbody tr:nth-child(even),
table thead tr th {
    background-color: var(--even-color);
}

.booking:nth-child(odd),
div.poll:nth-child(odd),
table tr:nth-child(odd) {
    background-color: var(--odd-color);
}

.cell {
    padding: 4px;
}

.cell.bold {
    font-weight: bold;
}

.cell.right {
    text-align: right;
}

.description-container {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 16, 20, 0.8);
    padding: 4px;
    top: 0;
    left: 0;
    z-index: 4;
}

.description-modal {
    position: relative;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    max-width: 400px;
    max-height: 600px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.description {
    height: calc(100% - 40px);
    width: 100%;
    background-color: var(--odd-color);
    padding: 15px;
    border-radius: 10px;
    overflow-y: auto;
}

.description h2 {
    margin-top: 0;
}

.description .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: var(--highlight-color);
    user-select: none;
    font-size: 140%;
}

.interaction {
    position: absolute;
    bottom: -5px;
    right: 15px;
    margin-top: 10px;
}

div {
    box-sizing: border-box;
}

img.logo {
    height: 100px;
    float: right;
    margin-bottom: 10px;
}

a.event_image {
    display: inline-block;
}
a.event_image + a.event_image {
    margin-left: 15px;
}
a.event_image img {
    max-height: 200px;
}
.description-modal a.event_image img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    margin-top: 0;
}

h2.error {
    color: var(--color-error);
}

a {
    color: var(--highlight-color);
}

hr {
    margin: 20px 0;
}

input[type=submit],
button,
.button {
    box-sizing: border-box;
    padding: 7px;
    font-size: 120%;
    background-color: var(--chapter-color-1);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 2px;
    -webkit-appearance: none;
    font-weight: bold !important;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif !important;
    height: 37px;
    min-width: 37px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 100%;
    text-decoration: none;
}

.button:first-of-type {
    margin-left: 0;
}

.no-margin {
    margin: 0 !important;
}

.button.whatsapp {
    background-color: var(--whatsapp-green);
}

.button img {
    height: 100%;
}

input[type=text],
input[type=email],
input[type=number] {
    padding: 5px;
    font-size: 120%;
    min-width: 200px;
    width: calc(100% - 30px);
    font-family: 'Rajdhani', sans-serif !important;
    font-weight: bold;
}

input[type=number] {
    width: 50px;
    min-width: 30px;
}

textarea {
    padding: 5px;
    font-size: 120%;
    min-width: 200px;
    min-height: 100px;
    width: calc(100% - 30px);
    font-family: 'Rajdhani', sans-serif !important;
    font-weight: bold;
}

form {
    display: inline;
}

table {
    border-collapse: collapse;
    width: 100%;
    ;
}

table tr th,
table tr td {
    text-align: left;
    border: 1px solid var(--color-black);
    padding: 4px;
}

table tr td.icons {
    text-align: right;
}

label.poll {
    cursor: pointer;
    display: block;
    background-color: var(--main-bg-color);
    margin: 10px 0;
    border-radius: 3px;
    position: relative;
    width: 100%;
    height: 30px;
}

label.poll.results {
    cursor: initial;
}

label.poll input {
    margin-right: 15px;
}

label.poll .share_visual {
    display: block;
    background-color: #144d6d;
    height: 100%;
    width: 0%;
    position: absolute;
    border-radius: 3px;
}

label.poll .text {
    position: absolute;
    padding: 5px;
    user-select: none;
}

label.poll .votes {
    float: right;
    padding: 5px;
    position: relative;
}

.notice {
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    background-color: var(--whatsapp-green);
    color: var(--color-white);
    font-weight: bold;
}

.notice.error {
    background-color: var(--color-error);
    color: var(--color-white);
}

.legend {
    margin-bottom: 10px;
}

.legend table tr {
    background-color: initial !important;
}

.legend table tr td {
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
    border-left: none;
    border-right: none;
    padding: 5px;
}

.legend table tr td:nth-child(1),
.legend table tr td:nth-child(3) {
    width: 40px;
}

footer {
    display: block;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--text-color);
}

.dataTables_filter input[type=search] {
    float: right;
    margin-bottom: 10px;
    padding: 4px;
}

.sorting.sorting_asc::after {
    content: '▲';
    color: var(--highlight-color);
    float: right;
}

.sorting.sorting_desc::after {
    content: '▼';
    color: var(--highlight-color);
    float: right;
}

/**
BURGER BUTTON
**/
#toggle {
    display: none;
}

/**
Hamburger
**/
.hamburger-container {
    display: inline-block;
    background-color: var(--chapter-color-1);
    border-radius: 3px;
    border: 1px solid var(--text-color);
}

.hamburger {
    position: fixed;
    z-index: 5;
    border-radius: 5px;
    background-color: var(--odd-color);
    padding: 12px 8px;
    border: 2px solid var(--highlight-color);
    box-shadow: var(--main-bg-color) 0px 4px 16px, var(--main-bg-color) 0px 8px 32px;
    z-index: 51;
}


.hamburger div:first-of-type {
    margin-top: 0;
}

.hamburger div {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: var(--highlight-color);
    margin-top: 6px;
    transition: all 0.3s ease-in-out;
}

/**
Nav Styles
**/
.nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 50;
}

.nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}

nav {
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav a {
    position: relative;
    text-decoration: none;
    color: var(--highlight-color);
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
}

nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: white;
}

nav a:hover:before {
    height: 100%;
}

pre {
    width: 100%;
    overflow-x: scroll;
}

/**
  Animations
  **/
#toggle:checked+.hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 9px;
}

#toggle:checked+.hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
}

#toggle:checked+.hamburger .meat {
    transform: rotate(45deg);
    margin-top: -3px;
}

#toggle:checked+.hamburger+.nav {
    top: 0;
    transform: scale(1);
}

/**
RESPONSIVENESS
**/
@media screen and (min-width: 1160px) {
    div.booking {
        display: inline-grid;
        grid-template-columns: 6fr 4fr 3fr 4fr;
    }

    div.poll {
        display: inline-grid;
        grid-template-columns: 1fr 2fr auto;
        grid-template-rows: 1fr !important;
    }

    .container {
        padding: 20px;
    }

    div.menu {
        display: inline-block;
        margin-right: 4px;
    }

    .hamburger {
        margin-left: -60px;
        margin-top: -4px;
        bottom: inherit !important;
        left: inherit !important;
        top: 20px;
    }

    nav {
        bottom: inherit !important;
    }
}

@media screen and (min-width: 800px) and (max-width: 1159px) {
    div.booking {
        display: inline-grid;
        grid-template-columns: 6fr 4fr 3fr 4fr;
    }

    div.poll {
        display: inline-grid;
        grid-template-rows: 2fr 2fr auto;
    }

    div.menu {
        display: inline-block;
        margin-right: 4px;
    }

    .hamburger {
        bottom: 10px;
        left: 20px;
    }

    nav {
        bottom: 40px;
    }
}

@media screen and (max-width: 799px) {
    div.booking {
        display: inline-grid;
        grid-template-rows: 2fr 2fr 2fr 4fr;
    }

    div.poll {
        display: inline-grid;
        grid-template-rows: 1fr 1fr auto;
    }

    div.poll .button {
        margin-bottom: 5px;
    }

    div.menu {
        margin-bottom: 10px;
    }

    .no-mobile {
        display: none;
    }

    .hamburger {
        bottom: 10px;
        left: 20px;
    }

    nav {
        bottom: 40px;
    }
}

/* It targets only the app used with a system icon in standalone mode */
@media (display-mode: standalone) {
    .hamburger {
        bottom: 60px;
    }
}