body {
    padding: 5px;
    margin: 0;
    margin-bottom: 80px;
    background-color: var(--main-bg-color);
    font-family: 'Rajdhani', sans-serif;
    color: var(--text-color);
    font-size: 105%;
}

body.admin {
    background-color: var(--admin-bg-color);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--content-bg-color);
    padding: 12px;
    border-radius: 5px;
}

.content {
    min-height: 400px;
}

hr {
    height: 1px;
    border: none;
    border-top: 1px solid var(--text-color);
}

div.bookings,
div.polls {
    width: 100%;
    border: 1px solid var(--color-black);
    display: inline-block;
}

div.booking,
div.poll {
    width: 100%;
    padding: 4px;
    border-bottom: 1px solid var(--color-black);
}

.booking:last-of-type,
div.poll:last-of-type {
    border-bottom: none;
}

.booking:nth-child(even),
div.poll:nth-child(even),
table tbody tr:nth-child(even),
table thead tr th {
    background-color: var(--even-color);
}

.booking:nth-child(odd),
div.poll:nth-child(odd),
table tr:nth-child(odd) {
    background-color: var(--odd-color);
}

.cell {
    padding: 4px;
}

.cell.bold {
    font-weight: bold;
}

.cell.right {
    text-align: right;
}

.description-container {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 16, 20, 0.8);
    padding: 4px;
    top: 0;
    left: 0;
    z-index: 4;
}

.description-modal {
    position: relative;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    max-width: 400px;
    max-height: 600px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.description {
    height: calc(100% - 40px);
    width: 100%;
    background-color: var(--odd-color);
    padding: 15px;
    border-radius: 10px;
    overflow-y: auto;
}

.description h2 {
    margin-top: 0;
}

.description .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: var(--highlight-color);
    user-select: none;
    font-size: 140%;
}

.interaction {
    position: absolute;
    bottom: -5px;
    right: 15px;
    margin-top: 10px;
}

.keine_kutte {
    height: 32px;
    vertical-align: middle;
    margin-right: 8px;
}

div {
    box-sizing: border-box;
}

img.logo {
    height: 100px;
    float: right;
    margin-bottom: 10px;
}

a.event_image {
    display: inline-block;
}
a.event_image + a.event_image {
    margin-left: 15px;
}
a.event_image img {
    max-height: 200px;
}
.description-modal a.event_image img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    margin-top: 0;
}

h2.error {
    color: var(--color-error);
}

a {
    color: var(--highlight-color);
}

hr {
    margin: 20px 0;
}

input[type=submit],
button,
.button {
    box-sizing: border-box;
    padding: 7px;
    font-size: 120%;
    background-color: var(--chapter-color-1);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 2px;
    -webkit-appearance: none;
    font-weight: bold !important;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif !important;
    height: 37px;
    min-width: 37px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 100%;
    text-decoration: none;
}

.button:first-of-type {
    margin-left: 0;
}

.no-margin {
    margin: 0 !important;
}

.button.whatsapp {
    background-color: var(--whatsapp-green);
}

.button img {
    height: 100%;
}

input[type=text],
input[type=email],
input[type=number],
input[type=datetime-local] {
    padding: 5px;
    font-size: 120%;
    min-width: 200px;
    width: calc(100% - 30px);
    font-family: 'Rajdhani', sans-serif !important;
    font-weight: bold;
}

input[type=number] {
    width: 50px;
    min-width: 30px;
}

textarea {
    padding: 5px;
    font-size: 120%;
    min-width: 200px;
    min-height: 100px;
    width: calc(100% - 30px);
    font-family: 'Rajdhani', sans-serif !important;
    font-weight: bold;
}

form {
    display: inline;
}

table {
    border-collapse: collapse;
    width: 100%;
    ;
}

table tr th,
table tr td {
    text-align: left;
    border: 1px solid var(--color-black);
    padding: 4px;
}

table tr td.icons {
    text-align: right;
}

label.poll {
    cursor: pointer;
    display: block;
    background-color: var(--main-bg-color);
    margin: 10px 0;
    border-radius: 3px;
    position: relative;
    width: 100%;
    height: 30px;
}

label.poll.results {
    cursor: initial;
}

label.poll input {
    margin-right: 15px;
}

label.poll .share_visual {
    display: block;
    background-color: #144d6d;
    height: 100%;
    width: 0%;
    position: absolute;
    border-radius: 3px;
}

label.poll .text {
    position: absolute;
    padding: 5px;
    user-select: none;
}

label.poll .votes {
    float: right;
    padding: 5px;
    position: relative;
}

.notice {
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    background-color: var(--whatsapp-green);
    color: var(--color-white);
    font-weight: bold;
}

.notice.error {
    background-color: var(--color-error);
    color: var(--color-white);
}

.legend {
    margin-bottom: 10px;
}

.legend table tr {
    background-color: initial !important;
}

.legend table tr td {
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
    border-left: none;
    border-right: none;
    padding: 5px;
}

.legend table tr td:nth-child(1),
.legend table tr td:nth-child(3) {
    width: 40px;
}

footer {
    display: block;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--text-color);
}

.dataTables_filter input[type=search] {
    float: right;
    margin-bottom: 10px;
    padding: 4px;
}

.sorting.sorting_asc::after {
    content: '▲';
    color: var(--highlight-color);
    float: right;
}

.sorting.sorting_desc::after {
    content: '▼';
    color: var(--highlight-color);
    float: right;
}

/**
Nav Styles
**/
.nav {
    position: fixed;
    bottom: 8px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(135deg, 
        color-mix(in srgb, var(--highlight-color) 85%, transparent),
        color-mix(in srgb, var(--highlight-color) 70%, transparent)
    );
    backdrop-filter: blur(20px);
    border: 1px solid color-mix(in srgb, var(--highlight-color) 60%, transparent);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        0 2px 8px rgba(0, 0, 0, 0.08),
        inset 0 1px 0 rgba(255, 255, 255, 0.2),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 300px;
    color: var(--color-black);
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
}

.nav nav {
    display: flex;
}

.nav a {
    color: var(--color-black);
    padding: 4px;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 80px;
    min-height: 60px;
}

.nav a svg,
.nav a img {
    margin-bottom: 4px;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.nav a.active {
    color: var(--color-white);
    background-color: color-mix(in srgb, var(--highlight-color) 70%, #000);
    border-radius: 50px;
}

pre {
    width: 100%;
    overflow-x: scroll;
}

/**
RESPONSIVENESS
**/
@media screen and (min-width: 1160px) {
    div.booking {
        display: inline-grid;
        grid-template-columns: 6fr 4fr 2.5fr 4.5fr;
    }

    div.poll {
        display: inline-grid;
        grid-template-columns: 1fr 2fr auto;
        grid-template-rows: 1fr !important;
    }

    .container {
        padding: 20px;
    }

    div.menu {
        display: inline-block;
        margin-right: 4px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1159px) {
    div.booking {
        display: inline-grid;
        grid-template-columns: 6fr 4fr 3fr 4fr;
    }

    div.poll {
        display: inline-grid;
        grid-template-rows: 2fr 2fr auto;
    }

    div.menu {
        display: inline-block;
        margin-right: 4px;
    }
}

@media screen and (max-width: 799px) {
    div.booking {
        display: inline-grid;
        grid-template-rows: 4fr 2fr 2fr 3fr;;
    }

    div.poll {
        display: inline-grid;
        grid-template-rows: 1fr 1fr auto;
    }

    div.poll .button {
        margin-bottom: 5px;
    }

    div.menu {
        margin-bottom: 10px;
    }

    .no-mobile {
        display: none;
    }

    .nav.admin {
        zoom: 0.9;
    }
}

@media screen and (max-width: 499px) {
    .nav.admin {
        zoom: 0.8;
    }

    .nav {
        zoom: 0.9;
    }
}

@media screen and (max-width: 399px) {
    .nav.admin {
        zoom: 0.7;
    }

    .nav {
        zoom: 0.85;
    }
}