@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');
body {
    padding: 5px;
    margin: 0;
    background-color: #0a1014;
    font-family: 'Rajdhani', sans-serif;
    color: #e5e9eb;
    font-size: 105%;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #202c33;
    padding: 12px;
    border-radius: 5px;
}
.content {
    min-height: 400px;
}
.bookings {
    width: 100%;
    border: 1px solid #000;
    display: inline-block;
}
.booking {
    width: 100%;
    padding: 4px;
    border-bottom: 1px solid #000;
}
.booking:last-of-type {
    border-bottom: none;
}
.booking:nth-child(even), table tr:nth-child(even) {
    background-color: #2a3942;
}
.booking:nth-child(odd), table tr:nth-child(odd) {
    background-color: #16232b;
}
.cell {
    padding: 4px;
}
.cell.bold {
    font-weight: bold;
}
.cell.right {
    text-align: right;
}
div {
    box-sizing: border-box;
}
img {
    height: 100px;
    float: right;
    margin-bottom: 10px;
}
h1 {
    margin-top: 0;
}
a {
    color: #c1aa63;
}
hr {
    margin: 20px 0;
}
input[type=submit], button, .button {
    box-sizing: border-box;
    padding: 7px;
    font-size: 120%;
    background-color: #2383ba;
    border: 1px solid #e5e9eb;
    color: #e5e9eb;
    border-radius: 2px;
    -webkit-appearance: none;
    font-weight: bold !important;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif !important;
    height: 37px;
    min-width: 37px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 100%;
    text-decoration: none;
}
.no-margin {
    margin: 0 !important;
}
.button.whatsapp {
    background-color: #25D366;
}
.button img {
    height: 100%;
}
input[type=text], input[type=email] {
    padding: 5px;
    font-size: 120%;
    min-width: 200px;
    max-width: 500px;
    width: calc(100% - 30px);
    font-family: 'Rajdhani', sans-serif !important;
    font-weight: bold;
}
textarea {
    padding: 5px;
    font-size: 120%;
    min-width: 200px;
    max-width: 500px;
    min-height: 100px;
    width: calc(100% - 30px);
    font-family: 'Rajdhani', sans-serif !important;
    font-weight: bold;
}
form {
    display: inline;
}
table {
    border-collapse: collapse;
    width: 100%;;
}
table tr th, table tr td {
    text-align: left;
    border: 1px solid #000;
    padding: 4px;
}
table tr td.icons {
    text-align: right;
}
label.poll {
    cursor: pointer;
    display: block;
    background-color: #0a1014;
    margin: 10px 0;
    border-radius: 3px;
    position: relative;
    width: 100%;
    height: 30px;
}
label.poll.results {
    cursor: initial;
}
label.poll input {
    margin-right: 15px;
}
label.poll .share_visual {
    display: block;
    background-color: #144d6d;
    height: 100%;
    width: 0%;
    position: absolute;
    border-radius: 3px;
}
label.poll .text {
    position: absolute;
    padding: 5px;
    user-select: none;
}
label.poll .votes {
    float: right;
    padding: 5px;
    position: relative;
}
.notice {
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    background-color: #25D366;
    color: #fff;
    font-weight: bold;
}
.notice.error {
    background-color: #e51c20;
    color: #fff;
}
footer {
    display: block;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e5e9eb;
}

@media screen and (min-width: 1100px) {
    .booking {
        display: inline-grid;
        grid-template-columns: 3fr 2fr 1fr 2fr;
    }
    .container {
        padding: 20px;
    }
}
@media screen and (min-width: 800px) {
    .booking {
        display: inline-grid;
        grid-template-columns: 6fr 4fr 3fr 5fr;
    }
}
@media screen and (max-width: 799px) {
    .booking {
        display: inline-grid;
        grid-template-rows: 2fr 2fr 2fr 3fr;
    }
    .no-mobile {
        display: none;
    }
}