<?php
// Site DEV
define("SITE_ADDRESS", "https://some_url");
define("APP_NAME", "Our amazing Events");
define("LEGAL_ENTITY_NAME", "xxx");
define("CURRENT_VERSION", "x.x.x");
define("HOURS_TO_EVENT_TO_CLOSE_BOOKING", 2);

// Database DEV
define("SERVERNAME", "xxx");
define("DBNAME", "xxx");
define("USERNAME", "xxx");
define("PASSWORD", "xxx");

// Google calendar
define("CALENDAR_ID", "xxxgroup.calendar.google.com");
define("ACCESS_TOKEN", "xxx");

// Mail SMTP
define("SMTP_SERVER", "xxx");
define("SMTP_USER", "xxx@xxx.de");
define("SMTP_SENDER", "xxx@xxx");
define("SMTP_SENDER_NAME", "xxx");
define("SMTP_PASSWORD", 'xxx');
define("SMTP_PORT", 465);
define("SMTP_AUTH", true);

// Mails
define("MAIL_SIGNATURE", "Dein Ingolstadt Chapter\n\nRIDE AND HAVE FUN!"); // no HTML!

// Support
define("SUPPORT_NAME", "xxx");
define("SUPPORT_EMAIL", "xxx@xxx.de");