<?php
// App
define("CURRENT_VERSION", "x.x.x");

// Site
define("SITE_ADDRESS", "https://ingolstadt-chapter.de/calendar/");
define("HOURS_TO_EVENT_TO_CLOSE_BOOKING", 12);
define("MODULE_POLLS", true);
define("MODULE_SHOP", true);

// Google calendar
define("CALENDAR_ID", "xxx@group.calendar.google.com");
define("ACCESS_TOKEN", "xxx");

// Database
define("SERVERNAME", "xxx");
define("DBNAME", "xxx");
define("USERNAME", "xxx");
define("PASSWORD", "xxx");

// Mail SMTP
define("SMTP_SERVER", "smtp.example.de");
define("SMTP_USER", "webmaster@example.de");
define("SMTP_SENDER", "webmaster@example.de");
define("SMTP_SENDER_NAME", "Chapter");
define("SMTP_PASSWORD", 'xxx');
define("SMTP_PORT", 465);
define("SMTP_AUTH", true);