@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-error: #ff0000;
    --main-bg-color: #0a1014;
    --content-bg-color: #202c33;
    --text-color: #e5e9eb;
    --even-color: #16232b;
    --odd-color: #2a3942;
    --highlight-color: #c1aa63;
    --chapter-color-1: #2383ba;
    --chapter-color-2: #e51c20;
    --whatsapp-green: #25D366;
}